.vscode
save
audio
fonts
img/*
!img/pictures
movies
icon
js/libs
js/*.js
!js/plugins.js
js/plugins/*.js
!js/plugins/ILB_*
!js/plugins/FullscreenButton.js
!js/plugins/SelectableFullWidth.js
js/plugins/ILB_RemoveUnusedOptions.js
js/plugins/ILB_ChoicesNoScrolling.js
