body {
  margin: 0px;
  overflow: hidden;
  background-color: antiquewhite;
}

div#container {
  position: absolute;
}

div#ui_div {
  width: 360px;
  height: 600px;
  position: relative;
  top: -600px;
}

div#level_select_inner {
  width: 100%;
  height: 100%;
  margin: auto;
  text-align: center;
}

button.track_button {
  width: 8em;
  height: 3em;
}